{% extends 'dashboardmanager/base.html' %}

{% block content_header %}
<div class="row mb-2">
    <div class="col-sm-6">
        <h1 class="m-0">{{ title }}</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'dashboardmanager:index' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboardmanager:shortcuts' %}">Shortcuts</a></li>
            <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ title }}</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="{{ form.title.id_for_label }}">Title</label>
                            {{ form.title }}
                            {% if form.title.errors %}
                            <div class="text-danger">{{ form.title.errors }}</div>
                            {% endif %}
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ form.icon.id_for_label }}">icon</label>
                            {{ form.icon }}
                            {% if form.icon.errors %}
                            <div class="text-danger">{{ form.icon.errors }}</div>
                            {% endif %}
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ form.shortcut_key.id_for_label }}">shortcut key</label>
                            {{ form.shortcut_key }}
                            {% if form.shortcut_key.errors %}
                            <div class="text-danger">{{ form.shortcut_key.errors }}</div>
                            {% endif %}
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.action.id_for_label }}">action</label>
                                    {{ form.action }}
                                    {% if form.action.errors %}
                                    <div class="text-danger">{{ form.action.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.description.id_for_label }}">description</label>
                                    {{ form.description }}
                                    {% if form.description.errors %}
                                    <div class="text-danger">{{ form.description.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="form-check">
                                {{ form.is_active }}
                                <label class="form-check-label" for="{{ form.is_active.id_for_label }}">
                                    Mark as active
                                </label>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a href="{% url 'dashboardmanager:shortcuts' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
